@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body{
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif !important;
  padding: 0;
  margin: 0;
  background-color: #bdd6e4 !important;
}

main{
    #banner_pc{
        margin-top: 60px;
        height: 900px;
        width: 100%;
        background-image: url('../assets/img/banner_bg.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .container{
            height: 100%;
            background-image: url('../assets/img/banner_deco.png');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .logo{
            text-align: right;
            img{
                max-width: 600px;
                width: 100%;
                @media (max-width: 1400px){
                    margin-top: 50px;
                    max-width: 550px;
                }
            }
        }

        .car{
            text-align: center;
            img{
                margin-left: 80px;
                max-width: 1000px;
                width: 100%;
                @media (max-width: 1400px){
                    max-width: 900px;
                    margin-top: 35px;

                }
            }
        }
    }

    #page_intro_pc{
        height: 960px;
        width: 100%;
        background-image: url('../assets/img/post_bg.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .container{
            height: 100%;
            background-image: url('../assets/img/post_content_bg.png');
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;

            .link{
                padding: 10px 15px;
                margin: 0 3px;
                background-color: #5d7b97;
                display: inline-block;
                color: #fff;
                font-size: 20px;
            }
        }

        .post_btn{
            margin-top: -185px;
        }
    }


    #story_carousel_pc{
        height: 790px;
        width: 100%;
        background-image: url('../assets/img/story_bg.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;        
        #story_carousel_title{
            margin-top: -100px;
            position: absolute;
            z-index: 1;
        }

        #story_carousel{
            margin-top: 70px;
            position: relative;
            z-index: 1;
        }

        .carousel-control-prev{
            left: -150px;
        }

        .carousel-control-next{
            right: -150px;
        }

        .col-story{
            .story{
                width: 100%;
                border: 15px solid #ccc;
                height: 680px;
                margin-bottom: 50px;
                background-color: #fff;
                box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.2);
                padding: 22px 25px;
                img{
                    width: 100%;
                    margin-bottom: 20px;
                }

                .story-title{
                    font-size: 30px;
                    color: #5d7b97;
                    font-weight: 600;
                }

                .story-content{
                    font-size: 24px;
                    color: #666;
                }
            }

            &:first-child{
                padding-right: 25px;
            }

            &:last-child{
                padding-left: 25px;
            }
        }


    }

    #story_wall{
        height: 970px;
        width: 100%;
        padding: 25px 0;
        overflow: hidden;
        background-image: url('../assets/img/wall_bg.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .story-wall{
            animation-play-state: running !important;
            -webkit-animation-play-state:running !important;
            &.pause{
                animation-play-state: paused !important;
                -webkit-animation-play-state:paused !important;
            }
            &.left{
                animation: scroll 60s linear infinite;
            }
            &.right{
                animation: scroll 120s linear infinite;
            }
            @keyframes scroll {
                0% {
                    transform: translateY(-50%);
                }
                100% {
                    transform: translateY(0%);
                }
            }
            .story-wall-left, .story-wall-right{


                &.right{
                    margin: 100px 0 0 0;
                }
                .story{
                    background-color: #fff;
                    padding: 15px;
                    margin: 20px 0 0 10px;
                    box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.2);
                    .story-body{
                        font-size: 20px;
                        margin-top: 10px;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

    #story_share{
        height: 950px;
        width: 100%;
        overflow: hidden;
        background-image: url('../assets/img/story_share.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .story_share_container{
            width: 100%;
            overflow-x: scroll;
            cursor: grab;

            .story_share_row{
                width: calc(625px * 5);
                .story_share_col{
                    width: 605px;
                    height: 580px;
                    background-color: #fff;
                    box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.2);
                    display: inline-block;
                    margin: 0 10px;
                    padding: 20px;
                    user-select: none;
                    
    
                    img{
                        width: 100%;
                        pointer-events: none;
                    }
    
                    .story_share_title{
                        margin: 15px 10px 0 15px;

                        a{
                            font-size: 30px;
                            color: #f75a53;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }
    
    
                    .story_share_content{
                        margin: 0 15px;
                        font-size: 24px;
                        a{
                            color: #f75a53;
                            font-weight: 600;
                            text-decoration: none;

                        }
                    }
                }
            }

        }
    }

    #champion{
        height: 1300px;
        width: 100%;
        overflow: hidden;
        background-image: url('../assets/img/champion_bg.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .champion_left{
            img.champion_title{
                margin-top: -40px;
                width: 100%;
                max-width: 900px;
                float: right;
            }

            img.champion_car{
                width: 100%;
                max-width: 1150px;
                margin: 20px 0;
            }

            .champion-action-list{
                margin: 0 auto;
                width: 100%;
                max-width: 705px;
                img.testdrive{
                    width: 100%;
                    max-width: 237px;
                    transform: translateX(2px);
                }
                img.more{
                    width: 100%;
                    max-width: 225px;
                    transform: translateX(-2px) translateY(-3px);
                }
                img.order{
                    width: 100%;
                    max-width: 240px;
                }
            }
        }

        .champion_right{
            text-align: left;
            padding-left: 80px;
            padding-top: 35px;
            img{
                width: 100%;
                max-width: 440px;
            }
            p{
                font-size: 24px;
                color: #666;
                margin: 0 0 10px 0;
            }
        }
    }
}