@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body{
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif !important;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  overscroll-behavior: none;
}


main{
    max-width: 2733px;
    max-height: 2049px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    background-image: url("../assets/img/black_bg.png");
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &.yellow_bg{
        background-image: url("../assets/img/yellow_bg.png");
    }

    &.game_bg{
        background-image: url("../assets/img/game_bg.png");
    }

    &.game_intro_bg{
        background-image: url("../assets/img/game_intro_bg.png");
    }

    &.charm_bg{
        background-image: url("../assets/img/charm_bg.png");
    }

    // &.final_bg{
    //     background-image: url("../assets/img/final_bg.png"), url("../assets/img/final_bg_belt.png"), url("../assets/img/final_bg_red_belt.png");
    //     background-position: top center, bottom center, bottom right;
    //     background-repeat: no-repeat;
    //     background-size: contain, 100%, 70%;    
    // }

    .index_title_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/index_title.png");
        background-position: top -80px center;
        background-repeat: no-repeat;
        background-size: 80%;
        z-index: 2;
    }

    .game_header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/game_header.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;

        .game_score_ball{
            position: relative;
            width: 5.5vw;
            height: 5.5vw;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            margin: 3.5vh 0.25vw;
            top:0;
            display: inline-block;

            &:first-child{
                margin-left: 17vw;
            }

            &.wind_ball{
                background-image: url("../assets/img/game_ball_wind.png");
            }

            &.cloud_ball{
                background-image: url("../assets/img/game_ball_cloud.png");
            }

            &.infinite_ball{
                background-image: url("../assets/img/game_ball_infinite.png");
            }
        }
    }

    .left_top_logo{
        position: absolute;
        top: 50px;
        left: 30px;
        width: 290px;
        height: 53px;
        background-image: url("../assets/img/logo.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .left_top_previous_button{
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-image: url("../assets/img/previous.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 11;

        &.game{
            top: 20px;
        }
    }

    .right_top_play_button{
        position: absolute;
        top: 35px;
        right: 35px;
        width: 70px;
        height: 70px;
        background-image: url("../assets/img/right_top_play_button.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 11;

        &.game{
            top: 20px;
        }

        &.reload{
            background-image: url("../assets/img/right_top_reload_button.png");
        }
    }

    .game_intro_title{
        position: absolute;
        top: -8%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: url("../assets/img/game_intro_title.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 90%;

        @media(max-height: 770px){
            background-size: 80%;
        }
    }

    .game_intro_subtitle{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: url("../assets/img/game_intro_subtitle.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @media(max-height: 770px){
            background-size: 80%;
            top: 5%;
        }
    }

    .main_product_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/main_product_full.png");
        background-position: top 30px center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .charm_main{
        position: absolute;
        top: 12vh;
        left: 16vw;
        width: 28vw;
        height: 45vw;
        background-image: url("../assets/img/charm.png"), url("../assets/img/charm_shadow.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover, 120%;
        z-index: 1;
    }

    .charm_ball{
        position: absolute;
        top: 0;
        left: 0;
        width: 12vw;
        height: 12vw;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover, 188%;
        z-index: 1;

        &.charm_ball_cloud{
            top: 30vh;
            left: 3vw;
            background-image: url("../assets/img/game_ball_cloud.png"), url("../assets/img/game_ball_shadow.png");
            animation: floatAnimationCloud 6s infinite;
        }

        &.charm_ball_wind{
            top: 65vh;
            left: 46vw;
            background-image: url("../assets/img/game_ball_wind.png"), url("../assets/img/game_ball_shadow.png");
            animation: floatAnimationWind 10s infinite;
        }

        &.charm_ball_infinite{
            top: 15vh;
            left: 47vw;
            background-image: url("../assets/img/game_ball_infinite.png"), url("../assets/img/game_ball_shadow.png");
            animation: floatAnimationInfinite 8s infinite;

        }

        @keyframes floatAnimationCloud {
            0% {
                transform: translateY(0) rotate(0deg);
            }
            50% {
                transform: translateY(-15px) rotate(-3deg);
            }
            100% {
                transform: translateY(0) rotate(0deg);
            }
        }

        @keyframes floatAnimationInfinite {
            0% {
                transform: translateY(0) rotate(0deg);
            }
            50% {
                transform: translateY(-10px) translateX(-15px) rotate(-3deg);
            }
            100% {
                transform: translateY(0) rotate(0deg);
            }
        }

        @keyframes floatAnimationWind {
            0% {
                transform: translateY(0) rotate(0deg);
            }
            50% {
                transform: translateY(10px) translateX(-15px) rotate(-3deg);
            }
            100% {
                transform: translateY(0) rotate(0deg);
            }
        }
    }

    .left_down_cloud{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 35%;
        background-image: url("../assets/img/left_down_cloud.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 3;

        &.game{
            transform: translateY(30px);
            animation: cloudAnimation 5s infinite;
        }
    }

    @keyframes cloudAnimation{
        0% {
            transform: translateY(30px) rotate(0deg);
        }
        50% {
            transform: translateY(0px) rotate(-0deg);
        }
        100% {
            transform: translateY(30px) rotate(0deg);
        }
    }

    .right_down_belt{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/right_belt_slogan.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .ground{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background-image: url("../assets/img/ground.png");
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ground_wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-image: url("../assets/img/wave_ground.png");
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;

        &.intro_1{
            z-index: 4;
        }

        &.intro_2{
            z-index: 3;
        }

        &.game{
            transform: translateX(10px);
            animation: waveAnimation 3s infinite;
        }
    }

    @keyframes waveAnimation {
        // slow flow
        0% {
            transform: translateY(10px);
        }
        50% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(10px);
        }
    }

    .left_down_woman_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/woman.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;
    }

    .left_down_woman_small{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/woman.png");
        background-position: top 100% left;
        background-repeat: no-repeat;
        background-size: 70%;
        z-index: 5;
    }

    .dragon_right_small{
        position: absolute;
        bottom: 15%;
        right: 0%;
        width: 20%;
        height: 72%;
        background-image: url("../assets/img/dragon_right_small.png");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .dragon_right_big_full{
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/dragon_right_big.png");
        background-position: top -80px right -180px;
        background-repeat: no-repeat;
        background-size: 105%;
    }

    .left_top_logo_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/logo_left_top.png");
        background-position: top -100px left;
        background-repeat: no-repeat;
        background-size: 110%;
        z-index: 1;
    }

    .intro_2_main_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/intro_2_main.png");
        background-position: top left -10px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;

        @media(min-height: 830px){
            background-position: top 50px left -10px;
        }
    }

    .intro_2_main_title{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/intro_2_title.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;

        @media(max-height: 830px){
            background-position: top -20px center;
        }
    }

    .intro_ball{
        position: absolute;
        top: 0;
        width: calc(100% / 3);
        height: 100%;
        z-index: 1;
        color: #D6BD57;
        text-align: center;

        h1{
            font-size: 50px;
            font-weight: 900;
            margin-top: -20px;
            background: -webkit-linear-gradient(left, rgb(246, 239, 198), rgb(246, 239, 198), rgb(246, 239, 198), rgb(240, 217, 98), rgb(246, 239, 198), rgb(246, 239, 198), rgb(243, 239, 198));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .intro_ball_img{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 350px;
            margin: 19.5vh auto 0 auto;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            @media(max-height: 830px){
                height: 300px;
            }
        }

        &.intro_ball_1{
            .intro_ball_img{
                background-image: url("../assets/img/game_ball_wind.png");
                background-position: right center;
            }
            left: 0;
            h1{
                text-align: right;
                padding-right: 11.5%;
            }
        }
    
        &.intro_ball_2{


            .intro_ball_img{
                background-image: url("../assets/img/game_ball_cloud.png");
            }
            left: calc(100% / 3);
        }
    
        &.intro_ball_3{
            .intro_ball_img{
                background-image: url("../assets/img/game_ball_infinite.png");
                background-position: left center;
            }
            left: 66%;
            h1{
                text-align: left;
                padding-left: 11.5%;
            }
        }
    }

    .right_down_belt_without_slogan{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/right_down_belt_without_slogan.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 80%;
        z-index: 3;
    }

    .game_frame{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/game_frame.png");
        background-position: bottom 15% center;
        background-repeat: no-repeat;
        background-size: 97%;
        z-index: 4;
    }

    .game_cloud {
        background-image: url("../assets/img/game_cloud.png");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
        animation: cloud_flow 10s infinite;
        transform: translateX(30px);
    }

    @keyframes cloud_flow {
        0% {
            transform: translateX(30px);
        }
        50% {
            transform: translateX(-30px);
        }
        100% {
            transform: translateX(30px);
        }
    }

    .game_dragon {
        background-image: url("../assets/img/side_dragon.png");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
        animation: floatAnimation 30s infinite linear;
        transform: translate(-150px, 0px);
    }

    @keyframes floatAnimation {
        0%, 100% {
            transform: translate(-150px, 0px);
        }
        10% {
            transform: translate(-70px, 70px);
            rotate: 5deg;
        }   
        15% {
            transform: translate(-50px, 100px);
            rotate: -5deg;
        }
        20% {
            transform: translate(-30px, 50px);
            rotate: 5deg;
        }
        30% {
            transform: translate(0px, 0px);
            rotate: 0deg;
        }
        45% {
            transform: translate(-50px, -100px);
            rotate: -5deg;
        }
        60% {
            transform: translate(-300px, 100px);
            rotate: -10deg;
        }
        72% {
            transform: translate(-450px, 0px);
            rotate: -5deg;
        }
        84% {
            transform: translate(-300px, -100px);
            rotate: 0deg;
        }
    }

    .game_ball_rails{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        overflow: hidden;

        .game_ball{
            position: absolute;
            width: 100px;
            height: 100px;
            z-index: 1;
            transform: translateX(110vw);
            //animate from top to bottom and disappear
            animation: ballAnimation 4s linear forwards;

            &.clicked{
                animation-play-state: paused;
                // animation: clickAnimation .5s linear forwards;
                .ball_container{
                    animation: clickAnimation .2s linear forwards;
                }
            }

            .ball_container{
                position: absolute;
                width: 100px;
                height: 100px;
                top: 0;
                left: 0;
                background-image: url("../assets/img/game_ball.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;

                &.wind_ball{
                    background-image: url("../assets/img/game_ball_wind.png");
                }
    
                &.cloud_ball{
                    background-image: url("../assets/img/game_ball_cloud.png");
                }
    
                &.infinite_ball{
                    background-image: url("../assets/img/game_ball_infinite.png");
                }
            }

            @keyframes clickAnimation {
                // and stop at transformed state
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(0.8);
                }
                100% {
                    transform: scale(1);
                }
            }

            .game_ball_text{
                position: absolute;
                left: 110px;
                width: 200px;
                color: #dc000c;
                font-size: 30px;
                font-weight: 900;
                line-height: calc(100px - 15px);
                text-shadow:
                2px 2px 3px #f0bd6e,
                -2px 2px 3px #f0bd6e,
                -2px -2px 0 #f0bd6e,
                2px -2px 0 #f0bd6e;
                animation: textAnimation .1s linear forwards;

                @keyframes textAnimation {
                    0% {
                        transform: translateX(-110px);
                        opacity: 0;
                    }
                    100% {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }

            .game_ball_light{
                position: absolute;
                left: -50px;
                top: -50px;
                width: 200px;
                height: 200px;
                background-image: url("../assets/img/ball_light.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
                opacity: 0.3;
            }

            .game_ball_star{
                position: absolute;
                left: -50px;
                top: -50px;
                width: 150px;
                height: 200px;
                background-image: url("../assets/img/game_ball_star.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;

                //animate scale from 0 to 1, and fade in
                animation: starAnimation .1s linear forwards;
            }

            @keyframes starAnimation {
                0% {
                    transform: scale(0.5);
                    opacity: 0;
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

        @keyframes ballAnimation {
            0% {
                transform: translateX(110vw);
            }
            10%{
                transform: translate(90vw, -5px);
            }
            20%{
                transform: translate(80vw, 5vh);
            }
            30%{
                transform: translate(70vw, 0vh);
            }
            40%{
                transform: translate(60vw, 5vh);
            }
            50%{
                transform: translate(50vw, 0vh);
            }
            60%{
                transform: translate(40vw, 5vh);
            }
            70%{
                transform: translate(30vw, 0vh);
            }
            80%{
                transform: translate(20vw, 5vh);
            }
            90%{
                transform: translate(10vw, 0vh);
            }
            100% {
                transform: translateX(-10vw);
            }
        }

        .game_ball_rail_1{
            height: 10%;
            width: 100%;
            top: 20%;
            position: absolute;
        }

        .game_ball_rail_2{
            height: 10%;
            width: 100%;
            top: 35%;
            position: absolute;
        }

        .game_ball_rail_3{
            height: 10%;
            width: 100%;
            top: 50%;
            position: absolute;
        }

        .game_ball_rail_4{
            height: 10%;
            width: 100%;
            top: 65%;
            position: absolute;
        }

        .game_ball_rail_5{
            height: 10%;
            width: 100%;
            top: 80%;
            position: absolute;
        }
    }

    .countdown{
        position: absolute;
        top: 0;
        left: calc(50% - 100px);
        width: 200px;
        height: 100%;
        z-index: 3;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: 100%;

        animation: fadein 1s, fadeout 1s 3s;

        &.countdown_3{
            background-image: url("../assets/img/game_count_down_3.png");
        }

        &.countdown_2{
            background-image: url("../assets/img/game_count_down_2.png");
        }

        &.countdown_1{
            background-image: url("../assets/img/game_count_down_1.png");
        }
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; }
    }

    .intro_slogan{
        font-size: 25px;
        top: 35%;
        left: 32%;
        position: absolute;
        z-index: 3;
    }

}